.home {
    display: flex;
    justify-content: space-around;
}

.home img {
    padding-top: 3em;
    height: 200px;
    width: 200px;
}

.home a {
    text-decoration: none;
    color: black;
}

.home a:hover {
    color: red;
    text-decoration: none;
}